# Logs
npm-debug.log*

# Dependency directories
**/node_modules/

# Code coverage
.nyc_output
**/coverage

# Temp folder
**/reports

# VSCODE
.vscode/
karma-sonarqube-reporter.code-workspace

# Sonarqube
.scannerwork/
.sonarlint/
